@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

/* Make heights and widths easier to style and set fonts */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Fredoka, sans-serif;
    font-weight: 300;
    color: #1d3557;
}

body {
    --hue: var(--hue-neutral);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #A8DADC;
}

/* Different background colors for correct and incorrect answers */

body.correct {
    background-color: #52b788;
}

body.wrong {
    background-color: #E63946;
}

/* LOGO */

#logo {
    text-align: center;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    ;
    margin-left: 1.0rem;
}

/* NAV */

#menu {
    letter-spacing: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li {
    list-style-type: none;
    margin: 0.75rem;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

#menu a:hover {
    background-color: #1d3557;
    color: whitesmoke;
    padding: 5px;
}

.current-page {
    border-bottom: 1px solid #1d3557;
}

/* GAME AREA */
.container {
    width: 650px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    background-color: #F1FAEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ANSWER BUTTONS */
.answer-box {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 1px solid hsl(203, 39, 25);
    background-color: #457B9D;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: #52b788;
    color: black;
}

.btn.wrong {
    background-color: #E63946;
}

/* NEXT BUTTON */
.next-btn {
    margin: 10px auto;
    background-color: #1D3557;
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.next-btn:hover {
    border-color: black;
}