@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Fredoka, sans-serif;
    font-weight: 300;
    color: #1d3557;
}

/* LOGO */

#logo {
    text-align: center;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;;
    margin-left: 1.0rem;
}

/* NAV */

#menu {
    letter-spacing: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li {
    list-style-type: none;
    margin: 0.75rem;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.current-page {
    border-bottom: 1px solid #1d3557;
}